<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>A File Metadata Microservice By <a href="https://twitter.com/JSCodebook">dom.farnham()</a></h1>
        <p>
          A microservice which takes your uploaded file and then returns JSON containing the file's data size. 
        </p>
        <h4>
          Submit a file to view its filesize
        </h4>
        <form action="/upload" enctype="multipart/form-data" method="post">
          <input type="file" name="upload">
          <input type="submit" value="Submit">
        </form>
        <h2>
          <a href="mailto:dom@javascriptcodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
