<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jscodebook">
      <meta name="twitter:creator" content="@jscodebook">
      <meta name="twitter:title" content="A File Metadata Microservice By dom.farnham('@JSCodebook')">
      <meta name="twitter:description" content="A microservice which takes your uploaded file and then returns JSON containing the file's data size.">
      <meta name="twitter:image" content="https://cdn.glitch.com/1382b3e6-07eb-45a5-ae17-0e98bd324018%2Fmetadata-microservice.png?1503088068242">
   </head>

   <body>
      <div class="container">
        <h1>A File Metadata Microservice By dom.farnham('<a href="https://twitter.com/JSCodebook">@JSCodebook</a>')</h1>
        <p>
          A microservice which takes your uploaded file and then returns JSON containing the file's data size. 
        </p>
        <h4>
          Submit a file to view its filesize
        </h4>
        <form action="/upload" enctype="multipart/form-data" method="post">
          <input type="file" name="upload">
          <input type="submit" value="Submit">
        </form>
        <h2>
          <a href="mailto:dom@javascriptcodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
